<ion-view title="Posts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="post in posts" class="item item-thumbnail-left" type="item-text-wrap" href="#/app/posts/{{post.id}}">
        <img src="{{ med.image || 'img/default.png' }}">
        <h2>{{ post.title}}</h2>
        <p>{{ post.body }}</p>
        <button class="button button-royal" ng-click="editPost($index, $event)">
          <i class="icon ion-edit"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

