<ion-view title="Report">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Submit a Report</h1>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="post.title" autofocus placeholder="Accident in Koteshwor">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Body</span>
        <input type="text" ng-model="post.body" placeholder="Bike hit by a truck at Koteshwor chowk.">
      </label>
    </div>
    <button class="button button-royal" ng-click="report()">
      Submit
    </button>
  </ion-content>
</ion-view>
