<ion-view title="Posts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()"
    ></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="report in reports" class="item item-thumbnail-left" href="#/app/reports/{{report.id}}">
        <img ng-src="{{ report.image || 'img/default.png' }}">
        <h2 ng-bind="report.category.name"></h2>
        <p class="item-text-wrap" ng-bind="report.message"></p>
        <button
          class="button button-small button-balanced icon icon-left ion-thumbsup"
          ng-click="likeReport($index, $event)"
          ng-bind="report.cached_votes_up">
        </button>
        <button
          class="button button-small button-assertive icon icon-left ion-thumbsdown"
          ng-click="dislikeReport($index, $event)"
          ng-bind="report.cached_votes_down">
        </button>
        <br />
        <br />
        <p class="item-text-wrap">
          <i class="icon ion-location"></i> {{ report.location.name }}
          <i class="icon ion-clock"></i> {{ report.created_at | date: 'medium' }}
          <br />
          <i class="icon ion-person"></i> {{ report.user.username || 'Anonymous' }}
          <i class="icon ion-thumbsup" ng-bind="report.user.cached_votes_up"></i>
          <i class="icon ion-thumbsdown" ng-bind="report.user.cached_votes_down"></i>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

