<ion-view title="Post">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        <h2 ng-bind="report.category.name"></h2>
        <p ng-bind="report.message"></p>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
          <ui-gmap-layer type="TrafficLayer" show="true"></ui-gmap-layer>
          <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
      <div class="item item-text-wrap">
        <i class="icon ion-location"></i> {{ report.location.name }} &nbsp;
        <i class="icon ion-clock"></i> {{ report.created_at | date: 'medium' }} &nbsp;
        <i class="icon ion-person"></i> {{ report.user.username || 'Anonymous' }}
      </div>
    </div>
  </ion-content>
</ion-view>

